<section id="technology" class="section">
  <div class="container tech-container">
    <h2 class="section-title">Технології які виконувались</h2>

    <ul class="tech_list">
      <li
        class="tech_elements"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="3000"
      >
        <h3 class="tech_title">Front-end</h3>
        <div class="tech-items">
          <ul class="tech-items-list">
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-html"></use>
              </svg>
              <p>HTML</p>
            </li>
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-css"></use>
              </svg>
              <p>CSS</p>
            </li>
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-java_script2"></use>
              </svg>
              <p>Java Script</p>
            </li>
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-axios"></use>
              </svg>
              <p>Axios</p>
            </li>
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-complete_done"></use>
              </svg>
              <p>LightBox</p>
            </li>
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-complete_done"></use>
              </svg>
              <p>Pagination</p>
            </li>
          </ul>
        </div>
      </li>
      <li
        class="tech_elements"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="3000"
      >
        <h3 class="tech_title">Back-end</h3>
        <div class="tech-items">
          <ul class="tech-items-list">
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-node"></use>
              </svg>
              <p>Node.js</p>
            </li>
          </ul>
        </div>
      </li>
      <li
        class="tech_elements"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="3000"
      >
        <h3 class="tech_title">Utilites</h3>
        <div class="tech-items">
          <ul class="tech-items-list">
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-vscode"></use>
              </svg>
              <p>VS Code</p>
            </li>
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-complete_done"></use>
              </svg>

              <p>Vite</p>
            </li>
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-figma"></use>
              </svg>
              <p>Figma</p>
            </li>
            <li class="tech-item">
              <svg
                class="tech-icon"
                aria-label="tech-icon"
                width="32"
                height="32"
              >
                <use href="./img/symbol-defs.svg#icon-git"></use>
              </svg>
              <p>Git/Git Hub</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
