.hero {
  padding: 0;
}

.hero-bg {
  margin: 0 auto;

  max-width: 335px;
  height: 600px;
  width: 100%;

  border-radius: 16px;
  background-color: var(--medium-blue);
  overflow: hidden;

  background-image: linear-gradient(57deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url('../img/Hero/hero_mobile.jpg');

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../img/hero/hero_mobile@2x.jpg');
  }
}

.hero-container {
  position: relative;
  margin-left: 10%;
}

.hero-title {
  width: 100%;
  max-width: 240px;
  margin-top: 30%;
  font-size: 38px;
  line-height: 1.05;

  color: var(--gray);
}

@media screen and (min-width: 768px) {
  .hero-bg {
    max-width: 704px;
    height: 630px;
    border-radius: 30px;

    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../img/hero/hero_tablet.jpg');
  }

  .hero-title {
    max-width: 600px;
    font-size: 56px;
    margin-top: 15%;
    line-height: 1.17;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-bg {
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../img/hero/hero_tablet@2x.jpg');
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg {
    max-width: 1152px;
    height: 630px;
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../../../img/hero/hero_desktop.jpg');
  }

  .hero-title {
    margin-top: 15%;
    max-width: 564px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .hero-bg {
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../../../img/hero/hero_desktop@2x.jpg');
  }
}
