/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('./common.css');
@import url('./container.css');
@import url('./section.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./mobile-menu.css');
@import url('./customer.css');
@import url('./modal_team.css');
@import url('./technology.css');
@import url('./to-top.css');
@import url('./aos.css');

:root {
  --black: #121417;
  --dark-blue: #090652;
  --medium-blue: #69688d;
  --light-blue: #bfbeeb;

  --gray: #f3f5f6;
  --white: #fff;

  --dark-transparent: rgba(1, 5, 11, 0.677);
  --light-transparent: rgba(255, 255, 255, 0.5);

  --font-weight-bold: 700;
  --font-weight-semi: 600;
  --font-weight-reg: 400;
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Manrope';
  src: url('../font_manrope/Manrope-VariableFont_wght.ttf');
  font-display: swap;
}
