.tech-container {
  background-color: var(--gray);
  max-width: 1152px;
  border-radius: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.tech_list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-top: 48px;
}

.tech_elements {
  width: calc((100% - 48px) / 3);
}

.tech_title {
  font-size: 24px;
  font-weight: var(--font-weight-semi);
  color: var(--dark-blue);
}

.tech-items {
  padding-top: 24px;
}

.tech-items-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.tech-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
