.tech-container {
  background-color: var(--gray);
  border-radius: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 335px;
}

.tech_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 12px;
}

.tech_title {
  font-size: 24px;
  font-weight: var(--font-weight-semi);
  color: var(--dark-blue);
}

.tech-items-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.tech-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.tech-items {
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .tech-container {
    max-width: 704px;
  }

  .tech_list {
    gap: 48px;
    padding-top: 48px;
    flex-direction: row;
    align-items: baseline;
  }

  .tech_elements {
    width: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 1280px) {
  .tech-container {
    max-width: 1152px;
  }
}
